munittesting/src/main/mule/munittesting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f75f89ac-5db0-477b-8567-0a41bc1ddfa3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munittestingFlow" doc:id="57a579ed-7ce1-43da-870f-8fda5347e53d" >
		<http:listener doc:name="Listener" doc:id="a966b721-9465-4f25-9d8f-cc5939c3a354" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-payload value='#["Munit testing is done "]' doc:name="Set Payload" doc:id="c2cae05b-ee9a-427c-90d7-a64b508ffe07" />
		<ee:transform doc:name="Transform Message" doc:id="a13273b4-2163-44f2-b6d3-e50e3cc2a3db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
